div.mb-3
  .row
    .col-6.offset-3
      .input-group
        input.form-control(
          name="orgName"
          type="text"
          placeholder="Organization Name"
          '[(ngModel)]'="orgName"
          '[disabled]'="false"
        )
        button.btn.btn-primary(
          type="button"
          title="Show"
          '(click)'="showRepos()"
        ) Show Repositories
  hr

  p-table(
    *ngIf="repos"
    '[value]'="repos"
    dataKey="id"
    selectionMode="single"
    sortField="name"
    '[loading]'="isLoading"
    '[(selection)]'="selectedRepo"
  )
    ng-template(pTemplate="header")
      tr
        th(pSortableColumn="name")
          span Name
          p-sortIcon(field="name")
        th(pSortableColumn="language")
          span Language
          p-sortIcon(field="language")
        th(pSortableColumn="pushed_at")
          span Last Push
          p-sortIcon(field="pushed_at")
        th(pSortableColumn="archived")
          span Archived?
          p-sortIcon(field="archived")
        th Repo Main page
        th Repo Issues
    ng-template(pTemplate="body" let-repo="")
      tr('[pSelectableRow]'="repo")
        td {{ repo.name }}
        td {{ repo.language }}
        td {{ repo.pushed_at | date: 'dd, MM, YYYY, HH:MM' }}
        td
          i.pi.pi-check(*ngIf="repo.archived")
        td
          a(href="{{ repo.html_url }}" target="_blank") Main page
        td
          a(href="#" '(click)'="openRepoIssues($event); $event.preventDefault()") Issues

  p-paginator(
    *ngIf="repos"
    '[rows]'="rowsPerPage"
    '[totalRecords]'="repoTotalCount"
    '[rowsPerPageOptions]'="[10, 50, 100]"
    '[showCurrentPageReport]'="true"
    '(onPageChange)'="onPageChange($event)"
  )